 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I am Xiangming Zeng, currently a Ph.D Candidate of Physical Oceanography at North Carolina State Univeristy. My work is combing data and models to understand and predict the variation of ocean status. This website shows some of my current and previous research. </p>
                </div>
                <div class="col-lg-4">
                    <p> In my spare time, I like hiking, visiting museums, watching movies, and exploring data and web related new techniques. Feel free to contact me if you have any question about the content in this website. Thank you. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="cv" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV 
                    </a>
                </div>
            </div>
        </div>
    </section>
